<div class="card width-fluid">
{{!-- plant name text box --}}
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="name">{{plant.plant_name}}</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>
{{!-- plant location text box --}}
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="location">{{plant.location}}</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>
{{!-- plant description text box --}}
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="description">{{plant.description}}</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>
{{!-- file uploader --}}
        <div class="mb-3">
            <input class="form-control" type="file" id="upload">
        </div>
{{!-- submit button --}}
        <button type="button" class="btn btn-success btn-lg" id="save">Grow Your Garden</button>
    </div>