    <body style="background-image: url('https://i.pinimg.com/originals/83/62/29/836229faa646a728535a7bf688020a32.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="card text-center" style="background-color: transparent;">
            <h1 style="font-family:'Times New Roman', Times, serif">UNO MOSS</h1>
            <small class="text-muted" ; style="color: white">The Plot Thickens...</small>
            <div class="card-header" ; style="color: white">
                Welcome Botánicas and Botánicos!
            </div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="userEmail" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="userPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <a href="#" id="signUpButton">Sign-Up Today!</a>
                <br>
                <button type="button" class="btn btn-success" id="loginButton">Start Sowing!</button>
            </div>
        </div>
        <script src="/public/js/login.js"></script>