<h1 class="display-1">Uno Moss</h1>
<h5 class="display-6"><i>Create Account</i></h5>

<div class="input-group mb-3">
    <span class="input-group-text" id="username">username</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
    <span class="input-group-text" id="password">password</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<button type="button" class="btn btn-success">Start Foraging</button>