<div id="signup">
<h1 class="display-1">Uno Moss</h1>
<h5 class="display-6"><i>Create Account</i></h5>

<div class="input-group mb-3">
    <span class="input-group-text">username</span>
    <input type="text" class="form-control" id="username">
</div>

<div class="input-group mb-3">
    <span class="input-group-text" >password</span>
    <input type="password" class="form-control" id="password">
</div>

<button type="button" class="btn btn-success" id="signUpButton">Start Foraging</button>
</div>

    <script src="/js/newUser.js"></script>